<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h1>
          Review header loaded<br>
          <small>review.html</small>
        </h1>
      </div>
    </div>
  </div>
</div>

<h3>Book Review</h3>

<div class="container" ng-controller="ReviewCtrl as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div ng-repeat="category in ctrl.categories" class="space-10"
        ng-click="ctrl.bookReview(book)"> <!-- tbc -->
      <code>{{ categoryName }}</code>
      </div>
    </div>
  </div>
</div>